@model Customer
@{
    ViewData["Title"] = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Details</h2>

<dl class="row">
    <dt class="col-sm-3">First Name</dt>
    <dd class="col-sm-9">@Model.FirstName</dd>

    <dt class="col-sm-3">Last Name</dt>
    <dd class="col-sm-9">@Model.LastName</dd>

    <dt class="col-sm-3">Email</dt>
    <dd class="col-sm-9">@Model.Email</dd>

    <dt class="col-sm-3">Phone</dt>
    <dd class="col-sm-9">@Model.PhoneNumber</dd>

    <dt class="col-sm-3">Address</dt>
    <dd class="col-sm-9">@Model.Address</dd>

   
</dl>

<a asp-action="Edit" asp-route-partitionKey="@Model.PartitionKey" asp-route-rowKey="@Model.RowKey" class="btn btn-warning">Edit</a>
<a asp-action="Delete" asp-route-partitionKey="@Model.PartitionKey" asp-route-rowKey="@Model.RowKey" class="btn btn-danger">Delete</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
